/* Feuille de réinitialisation d'Eric Meyer */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* Fin de la feuille de style d'Eric Meyer et début de la mienne */

body {
    display: grid;
    grid-template: 200px 59px auto 60px / 1fr 3fr 1fr;
    font-family: arial;
    background-color: #e3e4e5;
}

header {
    grid-column: 1 / 4;
    grid-row: 1 / 2;
    text-align: center;
    background-color: #000000;
}

h1 {
    font-family: courier, courier new;
    font-size: 80px;
    padding: 10px 0px;
    font-weight: 800;
    letter-spacing: 10px;
}

header a {
    text-decoration: none;
    color: #ffffff;

}

header p {
    line-height: 0.5em;
    font-family: 'Roboto Condensed', sans-serif;
    color: #ffffff;
}

header p + p {
    text-indent: 0px;
}

nav {
    grid-column: 1 / 4;
    grid-row: 2 / 3;
    background-color: #ffffff;
    box-shadow: 0px 2px 4px 0px #8e8e8e;
    position: sticky;
    top: 0;
    text-align: center;
    background-image: url("marinoniBanner.png");
    z-index: 100000;
  }

nav ul {
    display: inline-block;
    position: relative;
    margin: 0px;
    text-align: left;
    background-color: #ffffff;
    font-family: 'Roboto condensed';
}

nav ul li {
    display: block;
    float: left;
    padding: 21px 40px;
    text-align: left;
}

nav ul a li {
    text-decoration: none;
    color: #000000;
}

nav ul li:hover {
    background-color: #d9d9d9;
    text-decoration: underline;
}

nav ul li:active {
    color: #a7a7a7;
}

main {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
    padding: 0 30px;
    margin: 10px 0px;
    background-color: #ffffff;
    box-shadow: 0px 8px 8px #000000;
}

p {
    font-family: helvetica, sans-serif;
    padding-bottom: 10px;
    line-height: 1.5em;
}

p + p {
    text-indent: 20px;
    margin-top: 0 
}

p a {
    color: #000000;
    text-decoration: underline;
    text-decoration-style: dotted;
    font-family: sans-serif;
}

em {
    font-style: italic;
}

h2 {
    font-size: 20px;
    font-family: 'Roboto condensed';
    padding-top: 20px;
    font-weight: bold;
    padding: 20px 0px 20px 0px;
}

h3 {
    font-size: 16px;
    font-family: 'Roboto condensed';
    font-weight: bold;
    padding: 10px 0px 20px 0px;
}

h4 {
    font-size: 14px;
    font-family: 'Roboto condensed';
    font-weight: bold;
    padding: 10px 0px;
}

#map {
    height: 400px;
    margin-top: 60px;
}

#geocaching {
    padding: 0px 20px;
    border-left: 2px dotted #c1c1c1;
    border-right: 2px dotted #c1c1c1;
    margin: 40px 40px 0px;
    color: #686868;
}

#geocaching p {
    font-size: 14px;
}

#geocaching p + p {
    text-indent: 0px;
}

.strong {
    font-weight: bold;
}

.logbook {
    margin-top: 20px;
    margin-bottom: 50px;
    color: #000000;
}

.comment {
    border: 1px dashed black;
    padding: 0px 20px;
    margin: 10px 100px;
    color: #000000;
}

.comment pre {
   padding: 10px 10px;
   font-family: courier, monospace;
}

ul.center {
    text-align: center;
}

li.button {
    border: 1px solid #000000;
    border-radius: 3px;
    padding: 10px 120px;
    margin: 0px 10px 10px 10px;
    font-family: 'Roboto condensed';
    list-style: none;
    position: relative;
    background-color: #f4f5f7;
    text-decoration: none;
    color: #000000;
}


a li.button:hover {
    background-color: #e5eefc;
}

a li.button:active {
    color: #a8a8a8;
}

a li.button:active {
    background-color:#d2dcf2;
}

.source {
    text-align: right;
}

figcaption {
    padding-bottom: 20px;
    line-height: 1.5em;
}

img {
    display: block;
    margin-right: auto;
    margin-left: auto;
}

.csl-entry {
    padding-bottom: 12px;
}

footer {
    grid-column: 1 / 4;
    grid-row: 4 / 5;
    text-align: center;
    padding: 20px;
    font-family: 'Roboto condensed';
}